---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"

const title = "Contact"
---

<Layout>
    <Section>
        <h1>Contact</h1>
        <p>Email: kate.galela@gmail.com</p>
    </Section>
</Layout>